.share-btn { margin: 0 auto; text-indent: -999999px; width: 6rem; height: 2rem; width: 6rem; height: 2rem; background: url(../images/icon-share.png) no-repeat; background-size: 6rem 2rem; }
.modal-mask { position: fixed; left: 0; top: 0; right: 0; bottom: 0; background: #000; opacity: .7; z-index: 9999; display: none; }

.share-modal { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 99999; display: none; }

.share-modal .icon-jiantou { position: absolute; top: .4rem; right: .4rem; width: 3rem; height: 3rem; background: url(../images/icon_jiantou.png) no-repeat; background-size: 3rem 3rem; }

.share-modal .icon-kuang { padding: 1rem; position: absolute; top: 3.4rem; left: 50%; margin-left: -4rem; font-size: .5rem; width: 8rem; height: 4rem; background: url(../images/icon_kuang.png) no-repeat; background-size: 8rem 4rem; }

.share-modal .icon-kuang span { display: inline-block; vertical-align: middle; }

.share-modal .icon-kuang .icon-dian { width: .8rem; height: .8rem; background: url(../images/icon_dian.png) no-repeat; background-size: .8rem .8rem; }

.share-modal .icon-kuang .icon-text { color: #fff; }

.share-modal .icon-kuang .icon_pengyouquan { width: 3rem; height: 1rem; background: url(../images/icon_pengyouquan.png) no-repeat; background-size: 3rem 1rem; }

.share-modal .icon-fork { margin: auto; position: fixed; left: 0; top: 0; right: 0; bottom: 0; width: 1rem; height: 1rem; background: url(../images/icon_fork.png) no-repeat; background-size: 1rem 1rem; }
.win{background: url(../images/icon-result.png) no-repeat;
background-size: 100% 100%; width: 1.2rem;height: 0.8rem;
position: absolute;bottom: 0rem;right: 0rem;}