.codeTips{
		color: #666;
		padding:rem(20px) rem(30px);
	}
.form-group{
	padding:rem(20px);
	.form-item{
		position: relative;
		margin-top: rem(20px);
		background: #fff;
		border-radius: rem(60px);
		height: rem(80px);
		line-height: rem(80px);
		input{
			width: 100%;
			height: 100%;
			padding-left: rem(20px);
			font-size: rem(30px);
		}
		.item-code{
			padding-right: rem(230px);
		}
		.getCode{
			position: absolute;
			right: rem(20px);
			top: rem(10px);
			width: rem(200px);
			color: #fff;
			border-radius: rem(30px);
			height: rem(60px);
			background: #E4007F;
			line-height: rem(60px);
			text-align: center;
			font-size: rem(30px);
		}
	}
	.item-validatePhone{
		margin-top: rem(60px);
		padding-left: rem(100px);
		padding-right: rem(100px);
		background: none;
		display: flex;
		justify-content: space-around;
		.wechatlogin{
			width: 40%;
			color: #fff;
			border-radius: rem(40px);
			height: rem(70px);
			background: #E4007F;
			line-height: rem(70px);
			text-align: center;
			font-size: rem(30px);
		}
		.validatePhone{
			width:40%;
			color: #fff;
			border-radius: rem(40px);
			height: rem(70px);
			background: #E4007F;
			line-height: rem(70px);
			text-align: center;
			font-size: rem(30px);
		}
	}
}
.login-form{
	width: rem(735px);
	height:rem(735px);
	margin:0 auto;
	background-color: #FFFFFF;
	border-radius: rem(8px);
	padding: 0;
	border:1px solid #cccccc;
	.logo{
		width: rem(284px);
		height:rem(198px);
		margin:0 auto;
		margin-top: rem(40px);
		img{
			width: rem(284px);
			height:rem(198px);
		}
	}
	.title{
		height:rem(104px);
		line-height: rem(100px);
		width: rem(708px);
		margin:0 auto;
		border-bottom: 1px solid #e6e6e6;
		text-align: center;
		font-size: rem(40px);
		color: #E4007F;
		span{
			color: #999999;
		}
	}
	.item{
		width: rem(598px);
		height:rem(60px);
		line-height: rem(60px);
		margin: rem(60px) auto;
		border: 1px solid #cccccc;
		border-radius: rem(15px);
		overflow: hidden;
		position: relative;
		//display: flex;
		.option{
			display: inline-block;
			width: rem(125px);
			background-color: #cccccc;
			text-align: center;
		}
		input{
			float: right;
			width: rem(450px);
			height: 100%;
			padding-left: rem(20px);
			font-size: rem(30px);
		}
		.getCode{
			position: absolute;
			right: rem(10px);
			top: rem(6px);
			width: rem(155px);
			height: rem(47px);
			color: #fff;
			padding: 0;
			border-radius: rem(10px);
			background: #E4007F;
			line-height: rem(47px);
			text-align: center;
			font-size: rem(24px);
		}
	}
	.item-validatePhone{
		margin-top: rem(60px);
		padding-left: rem(100px);
		padding-right: rem(100px);
		background: none;
		display: flex;
		justify-content: space-around;
		.validatePhone{
			width:rem(262px);
			color: #fff;
			border-radius: rem(40px);
			height: rem(60px);
			background: #66cc99;
			line-height: rem(60px);
			text-align: center;
			font-size: rem(32px);
		}
	}
}